<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_gyro"       value="true"/>
    <arg name="enable_accel"      value="true"/>
    <arg name="accel_fps"         value="200"/>
    <arg name="unite_imu_method"  value="linear_interpolation"/>
    <arg name="color_width"       value="1280"/>
    <arg name="color_height"      value="720"/>
    <arg name="color_fps"         value="15"/>
    <arg name="depth_width"       value="848"/>
    <arg name="depth_height"      value="480"/>
    <arg name="depth_fps"         value="5"/>
    <arg name="enable_sync"       value="true"/>
    <arg name="filters"           value="pointcloud"/>
    <arg name="pointcloud_texture_stream" value="RS2_STREAM_ANY"/>
    </include>
  <node pkg="rovio" name="to_grayscale" type="to_grayscale.py" args="/camera/color/image_raw /camera/color/grayscale_raw" output="screen"/>
  <node pkg="topic_tools" name="imu_relay" type="relay" args="/camera/imu /imu0" output="screen"/>
  <node pkg="topic_tools" name="camera_relay" type="relay" args="/camera/color/grayscale_raw /cam0/image_raw" output="screen"/>

  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
    <param name="filter_config" value="$(find rovio)/cfg/rovio_d455_kalibr.info"/>
    <param name="camera0_config" value="$(find rovio)/cfg/rovio_d455_kalibr.yaml"/>
  </node>
</launch>
