<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/realsense_rgb.yaml"/>
  <!--<param name="imu_topic_name" value="/camera/imu"/>
  <param name="cam0_topic_name" value="/camera/color/image_raw"/>-->
  </node>
</launch>
<!-- roslaunch realsense2_camera rs_camera.launch enable_gyro:=true enable_accel:=true unite_imu_method:=linear_interpolation enable_infra1:=true -->
<!-- rosrun topic_tools relay /camera/color/image_raw /cam0/image_raw -->
<!-- rosrun topic_tools relay /camera/infra1/image_rect_raw/ /cam0/image_raw -->
<!-- rosrun topic_tools relay /camera/imu /imu0 -->
<!-- python3 to_grayscale.py /camera/color/image_raw /camera/color/grayscale_raw -->